* {
	box-sizing: border-box;
	margin: 0px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

body {
	margin-top: 35px;
	text-align: center;
}

nav, footer {
	background-color: gray;
	border: 1px black solid;
}

nav {
	display: inline-block;
	text-align: left;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 16px
}

nav button {
	float: right;
}

section {
	border: black solid 1px
}

header {
	padding: 35px 15px;
	background-color: lightgray;
}


.recipe {
	border: 1px black solid;
	margin: 10px;
}

li {
	display: inline-block;
}


form {
	background-color: lightgray;
}
